<!-- http://colintoh.com/blog/display-table-anti-hero -->
<!-- https://css-tricks.com/almanac/properties/d/display/ -->
<!-- https://developer.mozilla.org/en-US/docs/Web/CSS/display -->

<div class="media", style="clear: both;">
  <% @flowers.each do |flower| %>
    <div class="col-md-4 col-sm-12" style="margin-bottom: 2em; margin-top: 2em;">
      <%= link_to flower do %>
        <div class="name_card" align="center">
          <%= image_tag(flower.thumbnail_url, class: "media-object img-circle", height: '165', width: '165') %>
          <br/>
          <p class="flower_name"><%= flower.name %></p>
          <% if is_admin? %>
            <span class="option">
              <%= link_to "edit", edit_flower_path(flower) %>
              | <%= link_to "delete", flower, method: :delete,
                                              data: { confirm: "Delete this flower?" } %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= paginate @flowers %>
