<% provide(:title, "Discuss") %>
<h1 class="nice_heading">Edit Discussion for <%= @flower.name %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@flower) do |f| %>
      <%= f.text_area :discussion, rows: 6, class: "form-control" %>
      <div class="row">
        <div class="col-md-6", style="margin-top: 1em;">
          <%= f.submit "Update", class: "btn btn-lg btn-primary" %>
        </div>
        <div class="col-md-6", style="margin-top: 1em;">
          <%= link_to "Cancel", flower_path(@flower), class: "btn btn-lg btn-danger", style: "width: 100%;" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
