<% provide(:title, "All") %>

<!-- Heading amd list -->
<% if @query.present? %>

	<% if @size.to_i > 0 %>
		<h1 class="nice_heading">
			Found <%= pluralize(@size, "result") %>
		</h1>
		<%= render 'list' %>
	<% else %>
		<p class="lead", style="clear: both; text-align: center;">
			Sorry, we're fresh out of <%= @query %>!
		</p>
	<% end %>

<% else %>

	<h1 class="page-header">Flowers</h1>
	
	<%= render 'list' %>

<% end %>

<h4 class="add"><%= link_to "+ Add your own", new_flower_path %></h4>
