<% provide(:title, "New") %>
<h1 class="nice_heading">Save a new flower</h1>
<hr>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@flower) do |f| %>
			<%= render 'fields', f: f %>

			<%= f.label :image_url, "Image URL", class: "form_field" %>
			<!-- Use file_field to choose file -->
			<%= f.text_field :image_url, class: "form-control" %>
			
			<%= f.submit "Save", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>

