<% provide(:title, @flower.name.html_safe) %>
<div class="row center">
  <div class="col-md-10 col-md-offset-1">
      <%= image_tag(@flower.image_url, class: "img-responsive") %>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="details">
      <% if is_admin? %>
        <%= link_to "edit", edit_flower_path(@flower), class: "option", style: "float: right;" %>
      <% end %>
      <small style="float: right;"><%= link_to @flower.source, @flower.url %></small>
      <h1 class="flower_heading"><%= @flower.name %></h1>

      <% if @flower.bot_name.present? %>
        <h5 class="botanical_name">(<%= @flower.bot_name %>)</h5>
      <% end %>
      
      <% if @flower.family.present? %>
        <h5 class="botanical_name">Family: <%= @flower.family %></h5>
      <% end %>

      <% if @flower.other_names.present? %>
        <p class="flower_other_names">Other names: <%= @flower.other_names %></h2>
      <% end %>

      <% if @flower.child_flowers.length < 1 %>

        <h3 class="flower_subheading">Significance</h3>
        <p><%= @flower.significance %></p>

        <% if @flower.comment.present? %>
          <h3 class="flower_subheading">Comment</h3>
          <p><%= @flower.comment %></p>
        <% end %>

        <h3 class="flower_subheading">Description</h3>
        <p><%= @flower.description %></p>

        <h3 class="flower_subheading">Colour</h3>
        <p><%= @flower.colour %></p>

      <% end %>

      <% if @flower.petals.present? %>
        <h3 class="flower_subheading">Petals</h3>
        <p><%= @flower.petals %></p>
      <% end %>

      <% if @flower.size.present? %>
        <h3 class="flower_subheading">Size</h3>
        <p><%= @flower.size %></p>
      <% end %>

      <h3 class="flower_subheading">Places</h3>
      <p><%= @flower.place %></p>

      <h3 class="flower_subheading">Climate</h3>
      <p><%= @flower.climate %></p>

      <% if @flower.child_flowers.length > 0 %>

        <h3 class="flower_subheading">Variants</h3>
        <hr/>
        <% @flower.child_flowers.each do |variant| %>
          <div class="row variant">
            <div class="col-md-8">
              <%= image_tag(variant.image_url, class: "img-responsive variant_img") %>
              <small style="float: right; margin: 0.5em 0;"><%= link_to variant.source, variant.url %></small>
            </div>
            <div class="col-md-4">
              <% if variant.bot_name.present? %>
                <h5 style="clear: both;" class="botanical_name">(<%= variant.bot_name %>)</h5>
              <% end %>
              <h3 class="flower_subheading">Significance</h3>
              <p><%= variant.significance %></p>
              <% if variant.comment.present? %>
                <h3 class="flower_subheading">Comment</h3>
                <p><%= variant.comment %></p>
              <% end %>
              <h3 class="flower_subheading">Description</h3>
              <p><%= variant.description %></p>
              <h3 class="flower_subheading">Colour</h3>
              <p><%= variant.colour %></p>
            </div>
          </div>
          <div class="row">
            <hr/>
          </div>
        <% end %>
      
      <% end %>

      <a href="#">
        <span class="glyphicon glyphicon-menu-up", style="float: right; color: #ff4e50;"></span>
      </a>
    </div>
  </div>
</div>

<div class="flower_nav">

  <div class="row">
    <div class="col-md-4">
      <% if !@previous.nil? %>
        <%= link_to "Previous", flower_path(@previous) %>
      <% end %>
    </div>

    <div class="col-md-4">
      <%= link_to "Back", url_for(:back), class: "back" %>
    </div>

    <div class="col-md-4">
      <% if !@next.nil? %>
        <%= link_to "Next", flower_path(@next) %>
      <% end %>
    </div>
  </div>

</div>
