<% provide(:title, @flower.name.html_safe) %>
<!-- <div class="row">
  <div class="text-center">
    <h1><%= @flower.name %></h1>
    <h3><em>(<%= @flower.bot_name %>)</em></h3>
  </div>
</div>
<div class="row center">
  <div class="col-md-10 col-md-offset-1">
      <%= image_tag(@flower.image_url, class: "img-responsive main-img") %>
  </div>
</div> -->
<div class="row">
  <div class="col-md-9 col-xs-12">
    <div class="details">
      <% if is_admin? %>
        <%= link_to "edit", edit_flower_path(@flower), class: "option", style: "float: right;" %>
      <% end %>
      <h1 class="flower_heading"><%= @flower.name %></h1>

      <% if @flower.bot_name.present? %>
        <h3 class="botanical_name">(<%= @flower.bot_name %>)</h3>
      <% end %>
      
      <% if @flower.image_url %>
        <%= image_tag(@flower.image_url, class: "img-responsive main-img", alt: @flower.name) %>
        <a href="<%= @flower.url %>" class="img-source" style="padding-bottom: 30px;"><%= @flower.source %></a>
      <% elsif @flower.child_flowers %>
        <div id="flowers-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @flower.child_flowers.each_with_index do |variant, i| %>
              <li data-target="#flowers-carousel" data-slide-to="<%= i %>" class="<%= "active" if i == 0 %>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner" role="listbox">
            <% @flower.child_flowers.each_with_index do |variant, i| %>
              <div class="item <%= "active" if i == 0 %>">
                <%= image_tag(variant.image_url, class: i == 0 ? 'variant-img' : nil, alt: variant.name) %>
                <% if variant.bot_name %>
                  <div class="carousel-caption">
                    <%= variant.bot_name %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <a class="left carousel-control" href="#flowers-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#flowers-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      <% end %>

      <% if @flower.child_flowers.empty? %>

        <% if @flower.significance.present? %>
          <p class="flower_subheading" style="clear: both;">Significance given by the Mother</p>
          <p class="lead significance"><%= @flower.significance %></p>
        <% end %>

        <% if @flower.comment.present? %>
          <p class="flower_subheading">The Mother&rsquo;s Comment</p>
          <p class="lead comment"><%= @flower.comment %></p>
        <% end %>

        <% if @flower.description.present? %>
          <p class="flower_subheading">Description</p>
          <p class="t5"><%= @flower.description %></p>
        <% end %>

    <% else %>
        <% if @flower.description.present? %>
          <p class="flower_subheading" style="clear: both;">Description</p>
          <p class="t5"><%= @flower.description %></p>
        <% else %>
          <p class="flower_subheading" style="clear: both;">Description</p>
          <p class="t5">Medium-sized fully double flowers with soft fringed petals and a sweet clovelike fragrance; in white and shades of purple, pink, red, yellow and apricot orange; borne in clusters of two to five flowers on long stems. A popular garden perennial.</p>
        <% end %>

        <p class="t3 text-center">Variants</p>
        <hr/>

        <% @flower.child_flowers.each_with_index do |variant, i| %>
          <% if i > 0 %>
            <hr>
          <% end %>
          <div class="row variant">
            <div class="<%= i % 2 == 0 ? 'col-md-8' : 'col-md-8 col-md-push-4' %>">
              <div class="row">
                <div class="col-xs-12">
                  <%= image_tag(variant.image_url, class: "img-responsive variant_img") %>
                  <a href="<%= variant.url %>" class="img-source"><%= variant.source %></a>
                </div>
              </div>
              <div class="row" style="margin-top: 20px">
                <div class="col-xs-12">
                  <p class="variant-subheading">Significance given by the Mother</p>
                  <p class="lead"><%= variant.significance %></p>
                </div>
              </div>
              <% if variant.comment.present? %>
                <div class="row">
                  <div class="col-xs-12">
                      <p class="variant-subheading">The Mother&rsquo;s Comment</p>
                      <p class="lead"><%= variant.comment %></p>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="<%= i % 2 == 0 ? 'col-md-4' : 'col-md-4 col-md-pull-8' %>">
              <% if variant.bot_name.present? %>
                <p class="botanical_name">(<%= variant.bot_name %>)</p>
              <% end %>
              
              
              <p class="flower_subheading">Description</p>
              <p class="t5"><%= variant.description %></p>
              <p class="flower_subheading">Colour</p>
              <p class="t5"><%= variant.colour %></p>
            </div>
          </div>
        <% end %>
      
      <% end %>
    </div>
  </div>
  <div class="col-md-3 col-xs-12 sidebar">
    <% if @flower.family.present? %>
      <div class="side-details">
        <p class="flower_subheading">Family</p>
        <p class="t5"><%= @flower.family %></p>
      </div>
    <% end %>

    <% if @flower.other_names.present? %>
      <div class="side-details">
        <p class="flower_subheading">Other Names</p>
        <p class="t5"><%= @flower.other_names %></p>
      </div>
    <% end %>

    <% if @flower.colour.present? %>
      <div class="side-details">
        <p class="flower_subheading">Colour</p>
        <p class="t5"><%= @flower.colour %></p>
      </div>
    <% end %>

    <% if @flower.petals.present? %>
      <div class="side-details">
        <p class="flower_subheading">Petals</p>
        <p class="t5"><%= @flower.petals %></p>
      </div>
    <% end %>

    <% if @flower.size.present? %>
      <div class="side-details">
        <p class="flower_subheading">Size</p>
        <p class="t5"><%= @flower.size %></p>
      </div>
    <% end %>

    <div class="side-details">
      <p class="flower_subheading">Cultivation</p>
      <p class="t5"><%= @flower.place %></p>
    </div>

    <div class="side-details">
      <p class="flower_subheading">Climate</p>
      <p class="t5"><%= @flower.climate %></p>
    </div>

    <% if @flower.child_flowers.present? %>
      <div class="scroll" data-spy="affix">
        <a href="#">
          <span class="glyphicon glyphicon-menu-up", style="color: #ff4e50;"></span>
        </a>
      </div>
    <% end %>
  </div>

    
</div>

<div class="flower_nav">

  <div class="row">
    <div class="col-md-4">
      <% if !@previous.nil? %>
        <%= link_to "Previous", flower_path(@previous) %>
      <% end %>
    </div>

    <div class="col-md-4">
      <%= link_to "Back", url_for(:back), class: "back" %>
    </div>

    <div class="col-md-4">
      <% if !@next.nil? %>
        <%= link_to "Next", flower_path(@next) %>
      <% end %>
    </div>
  </div>

</div>
