<% provide(:title, @flower.name) %>
<div class="row center">
  <div class="col-md-10 col-md-offset-1">
      <%= image_tag(@flower.image_url, class: "img-responsive") %>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="details">
      <%= link_to "edit", edit_flower_path(@flower), class: "option", style: "float: right;" %>
      <h1 class="flower_heading"><%= @flower.name %></h1>

      <h5 class="botanical_name">(<%= @flower.bot_name %>)</h5>

      <h3 class="flower_subheading", style="margin-top: 1.5em;">Significance</h3>
      <p><%= @flower.significance %></p>

      <h3 class="flower_subheading">Petals</h3>
      <p><%= @flower.petals %></p>

      <h3 class="flower_subheading">Colour</h3>
      <p><%= @flower.colour %></p>

      <h3 class="flower_subheading">Description</h3>
      <p><%= @flower.description %></p>

      <h3 class="flower_subheading">Places</h3>
      <p><%= @flower.place %></p>

      <h3 class="flower_subheading">Climate</h3>
      <p><%= @flower.climate %></p>

      <h3 class="flower_subheading">Seasons</h3>
      <p><%= @flower.season %></p>

      <h3 class="flower_subheading", style="clear: both;">Size</h3>
      <p><%= @flower.size %></p>

      <a href="#">
        <span class="glyphicon glyphicon-menu-up", style="float: right;"></span>
      </a>
    </div>
  </div>
</div>

<div class="center", style="margin-top: 2em;">
  <%= link_to "Back to all flowers", flowers_path, class: "back" %>
</div>
