<!DOCTYPE html>
<html>
	<head>
  	<title><%= full_title(yield(:title)) %></title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  	<%= favicon_link_tag 'favicon.ico' %>
  	<%= render 'layouts/shim' %>
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/816cf3a7-8b29-41ac-ab5d-cee67acce7f3.css"/>
	</head>
	<body class="content">
		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |message_type, message| %>
				<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
			<% end -%>
			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
